{% extends 'shootX/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/applicompte-general.css' %}">
<link rel="stylesheet" href="{% static 'css/applicompte-forgetpassword.css' %}">
{% endblock %}

{% block title %} Au revoir {% endblock %}

{% block main %}
<form method="POST">
  {% csrf_token %}
  <label for="email">Entrez votre adresse email :</label>
  <input type="email" name="email" id="email" required>
  <button type="submit">Envoyer</button>
</form>

{% endblock %}
