
{% extends 'shootX/partial/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/applicompte-usersetting.css' %}">

{% endblock %}

{% block title %} Connexion {% endblock %}
{% block main %}

<div class="container mt-5">
    <h1 class="mb-4">Mon Profil</h1>
    
    <div class="card">
        <div class="card-header bg-dark text-white">
            Informations utilisateur
        </div>
        <div class="card-body">
            <p><strong>Nom d'utilisateur :</strong> {{ user.username }}</p>
            <p><strong>Alias :</strong> {{ user.userprofile.alias }}</p>
            <p><strong>Email :</strong> {{ user.email }}</p>
            <p><strong>Prénom :</strong> {{ user.first_name }}</p>
            <p><strong>Nom :</strong> {{ user.last_name }}</p>
            <p><strong>Date de création du compte :</strong> {{ user.date_joined|date:"d/m/Y H:i" }}</p>
        </div>
    </div>
    
    <div class="mt-4">
        <a href="{% url 'applicompte:edit_profile' %}" class="btn btn-primary">Modifier mon profil</a>
        <a href="{% url 'applicompte:logout' %}" class="btn btn-danger">Déconnexion</a>
    </div>
</div>
{% endblock %}
