<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
      <a class="navbar-brand" href="{% url 'app:home' %}">MonSite</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'app:home' %}">Accueil</a>
              </li>

              {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'applicompte:profile' %}">Mon Profil</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'applicompte:edit_profile' %}">Éditer Profil</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'applicompte:manage_users' %}">Gérer Utilisateurs</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'applicompte:search_users_page' %}">Recherche Utilisateurs</a>
              </li>
              {% endif %}
          </ul>

          <ul class="navbar-nav">
              {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link btn btn-danger text-white" href="{% url 'applicompte:logout' %}">Déconnexion</a>
              </li>
              {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'applicompte:login' %}">Connexion</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link btn btn-primary text-white" href="{% url 'applicompte:register' %}">S'inscrire</a>
              </li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>
