
.dropdown-menu {
    margin-top: 0; /* Corrige l'animation de Bootstrap */
    transition: all 0.3s ease; /* Animation pour un effet fluide */
}

@media (min-width: 992px) {
    .nav-item.dropdown:hover .dropdown-menu {
      display: block;
    }
  }
  